<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/css/stylesheet2.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>A.I Assistant for Compliance Auditing</h1>
      <!-- need to add all folder and md files related. this is to avoid having nested nav bars -->
      <p>Please Select a Program</p>
      
      <section class="chat-container">
        <div class="chat-window"></div>
        <div class="chat-input">
          <input type="search" placeholder="Ask a question..." />
          <select class="nav_selector">
            <option value="mhotrs/section599.md">MHOTRS</option>
            <option value=""></option>
          </select>
          <button>Send</button>
        </div>
      </section>
    </div>

    <script src="../static/js/snr.js"></script>
  </body>
</html>
