<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/css/stylesheet2.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>A.I Assistant for Compliance Auditing</h1>
      <!-- need to add all folder and md files related. this is to avoid having nested nav bars -->
      <p>Please Select a Program</p>
      <select class="nav-selector">
        <option value="article-31/section599.md">
          Article 31 - Section 599
        </option>
        <option value="article-31/mhotrs.md">Article 31 - MHOTRS</option>
        <option value="opwdd/community-habilitation/community-habilitation.md">
          OPWDD - Community Habilitation
        </option>
        <option value="opwdd/day-habilitation/day-habilitation.md">
          OPWDD - Day Habilitation
        </option>
        <option value="opwdd/idd/iss.md">OPWDD - ISS</option>
        <option value="opwdd/prevocational/prevocational.md">
          OPWDD - Prevocational
        </option>
        <option value="opwdd/semp/semp.md">OPWDD - SEMP</option>
        <option
          value="opwdd/supervised-individualized-residential-alternative/supervised.md"
        >
          OPWDD - Supervised Individual Residential Alternative
        </option>
        <option
          value="opwdd/supportive-individualized-residential-alternative/supportive.md"
        >
          OPWDD - Supportive Individual Residential Alternative
        </option>
      </select>

      <section class="chat-container">
        <div class="chat-window"></div>
        <div class="chat-input">
          <input type="search" placeholder="Ask a question..." />
          <button>Send</button>
        </div>
      </section>
    </div>

    <script src="../static/js/snr.js"></script>
  </body>
</html>
